---
sudo: required
language: python
services: docker

# Placeholder top level role name iiab
env:
    global:
      - ROLE_NAME: iiab
matrix:
    - MOLECULE_DISTRO: centos7
      MOLECULE_DOCKER_COMMAND: /usr/lib/systemd/systemd
    - MOLECULE_DISTRO: centos6
    - MOLECULE_DISTRO: ubuntu1804
    - MOLECULE_DISTRO: ubuntu1604
    - MOLECULE_DISTRO: ubuntu1404
    - MOLECULE_DISTRO: debian9
    - MOLECULE_DISTRO: debian8


before_install:
- sudo apt-get -qq update

install:
  - pip install molecule docker
  - pip install ansible

script:
# Syntax check
  - ansible-playbook --syntax-check -i tests/inventory test/test.yml
# Run tests
# - molecule test

#notifications:
# webhooks: https://galaxy.ansible.com/api/v1/notifications/
