---
language: python
python: "2.7"

# Use the new container infrastructure
sudo: false

# Install ansible
addons:
  apt:
    packages:
    - python-pip wget

install:
  # Install ansible, ansible-lint and ansible-review
  - pip install ansible
  - pip install ansible-review

  # Check ansible,  version
  - ansible --version
  - ansible-lint --version
  - ansible-review --version

  # Create ansible.cfg with correct roles_path
  - printf '[defaults]\nroles_path=../' >ansible.cfg

script:
  # Grab the local vars file.
  - wget -c -P ./vars/ http://download.iiab.io/6.5/rpi/local_vars.yml
  # Continuous integration: syntax check
  - ansible-playbook --check iiab-base.yml --connection=local -vvv
  # Continuous integration: syntax check
  - ansible-playbook tests/test.yml -i tests/inventory --syntax-check -vvv

  # Continous integration: ansible-list
  - ansible-lint -p *yml

  #  Continous integration: ansible code review
  - git ls-files *yml roles/ vars/ tests/  | xargs ansible-review

#notifications:
#  webhooks:
