---
language: python
python: "2.7"
virtualenv:
    system_site_packages: true

# Use the new container infrastructure
sudo: false

# Install ansible
addons:
  apt:
    packages:
    - python-pip

install:
  # Install ansible, ansible-lint and ansible-review
  - pip install ansible
  - pip install ansible-review

  # Check ansible,  version
  - ansible --version
  - ansible-lint --version
  - ansible-review --version

  # Create ansible.cfg with correct roles_path
  - printf '[defaults]\nroles_path=../' >ansible.cfg

before_script:
  # Create Ansbile-review config.ini config file.
  - mkdir ~/ansible-review
  - echo -e  "[rules] \n
    standards = ${HOME}/virtualenv/python${TRAVIS_PYTHON_VERSION}/lib/python${TRAVIS_PYTHON_VERSION}/site-packages/ansible-review/ansible-review-rules \n
    lint = ${HOME}/virtualenv/python${TRAVIS_PYTHON_VERSION}/lib/python${TRAVIS_PYTHON_VERSION}/site-packages/ansible-review/ansible-review-rules/lint-rules" >> ~/ansible-review/config.ini
  - cat ~/ansible-review/config.ini
script:
  # Continuous integration: syntax check
  - ansible-playbook tests/test.yml -i tests/inventory --syntax-check -vvv

  # Continous integration: ansible-list
  - ansible-lint -p *yml

  #  Continous integration: ansible code review
  - git ls-files *yml roles/ vars/ tests/  | xargs ansible-review -c tests/ansible-review_config.ini

#notifications:
#   webhooks: https://galaxy.ansible.com/api/v1/notifications/
#
#  irc:
#    channels: "irc.freenode.org#fabric"
#    template:
#      - "%{repository}@%{branch}: %{message} (%{build_url})"
#    on_success: change
#    on_failure: change
#  email: false
